div.content div.filter select.webserver {
	min-width:75px;
}

div.content div.filter span {
	margin-left:20px;
}

@media (min-width:992px) {
	div.content div.filter {
		float:right;
		margin-top:-30px;
	}
}

@media (min-width:768px) and (max-width:991px) {
	div.content div.filter {
		margin-top:-30px;
	}
}

@media (max-width:991px) {
	div.content div.filter span {
		display:block;
		text-align:right;
		margin-bottom:10px;
	}
}
