body {
	background:url(/images/layout/site_bg.gif) repeat-x;
	background-color:#ede7db;
}

div.container {
	max-width:1000px;
}

h1 {
	font-size:24px;
	margin-top:0;
	color:#696969;
}

h2 {
	font-size:20px;
	margin-bottom:10px;
	margin-top:0;
	color:#696969;
}

h3 {
	font-size:18px;
}

ul {
	padding-left:15px;
}

div.left {
	float:left;
}

div.right {
	float:right;
}

div.clear {
	clear:both;
}

img.title_icon {
	float:right;
	margin-top:-20px;
	margin-bottom:-20px;
}

div.panel div.panel-heading {
	padding:5px 15px;
	font-weight:bold;
}

@media (max-width:767px) {
	table.table-xs th,
	table.table-xs td {
		display:block;
	}

	table.table-xs th:last-child {
		border:none;
	}

	table.table-xs td:first-child {
		border-top:2px solid #808080;
	}

	table.table-xs thead.table-xs {
		display:none;
	}

	table.table-xs span.table-xs {
		font-weight:bold;
		margin-right:3px;
	}
}

@media (min-width:768px) {
	table.table-xs span.table-xs {
		display:none;
	}
}

/* Header
 */
div.header {
	height:80px;
}

div.header div.title {
	font-size:40px;
	color:#ffffff;
	vertical-align:bottom;
	margin:25px 0 0 28px;
	text-align:right;
}

@media (max-width:767px) {
	div.header {
		height:45px;
	}
	div.header div.title {
		margin-top:0;
		font-size:30px;
	}
}

/* Menu
 */
nav.navbar {
	margin-bottom:0;
	border-radius:0;
	border:0;
	min-height:45px;
}

nav.navbar div.container {
	background-color:#ff8020;
	border-top:5px solid #ffffff;
	min-height:45px;
}

nav.navbar ul.nav a {
	color:#000000;
	padding:10px 0;
	margin:0 0px;
	font-size:13.5px;
	background-color:#ff8020;
	display:inline-block;
}

nav.navbar ul.nav li:after {
	content:"|";
	color:#ffffff;
	margin:0 25px;
}

nav.navbar ul.nav li:last-child:after {
	content:none;
	margin:0;
}

@media (max-width:991px) {
	nav.navbar ul.nav li:after {
		margin:0 8px;
	}
}

@media (max-width:767px) {
	nav.navbar ul.nav {
		padding-left:20px;
	}
	nav.navbar ul.nav li:after {
		content:none;
		margin:0;
	}
}

nav.navbar button {
	border:3px solid #606060;
	padding:7px;
	background-color:#c0a080;
}

nav.navbar button span {
	background-color:#ffffff;
}

/* Page
 */
body > div.content {
	position:relative;
	background-color:#ffffff;
	padding:15px 20px 10px 20px;
	min-height:400px;
}

@media (max-width:767px) {
	body > div.content {
		padding:20px 20px 30px 20px;
	}
}

input.form-control, textarea.form-control, select.form-control {
	max-width:500px;
	margin-bottom:5px;
}

@media (max-width:767px) {
	input.form-control, textarea.form-control, select.form-control {
		font-size:16px;
	}
}

textarea.form-control {
	height:75px;
}

div.btn-group {
	margin:15px 10px 10px 0;
}

.btn {
	padding:4px 24px;
}

.btn-xs {
	padding:0 16px;
}

table.table-hover tbody tr:hover {
	cursor:pointer;
}

/* Footer
 */
div.footer {
	background-color:#404040;
	color:#b0b0b0;
	text-align:center;
	padding:20px;
	margin-bottom:40px;
	color:#a0a0a0;
	font-size:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}

div.footer span {
	white-space:nowrap;
	display:inline-block;
}

div.footer span:before {
	content:"|";
	margin:0 20px;
}
div.footer span:first-child:before {
	content:"";
	margin:0;
}

div.footer a {
	color:#ede7db;
}

@media (max-width:767px) {
	div.footer {
		margin-bottom:0;
		border-radius:0;
	}

	div.footer span {
		margin:5px 10px;
	}

	div.footer span:before {
		content:none;
	}
}
